xterm*termName: xterm-256color


XTerm*foreground: #111111
XTerm*background: #eeeae4
XTerm*color0 : #262626
XTerm*color8 : #252525
XTerm*color1 : #c12121
XTerm*color9 : #e50e0e
XTerm*color2 : #597b20
XTerm*color10: #89b83f
XTerm*color3 : #c97616
XTerm*color11: #de8928
XTerm*color4 : #265997
XTerm*color12: #3f6fd0
XTerm*color5 : #706c9a
XTerm*color13: #826ab1
XTerm*color6 : #69a2b0
XTerm*color14: #a1cdcd
XTerm*color7 : #bbbbbb
XTerm*color15: #eeeeef
