extends box
snippet date "datu"
	`strftime("%Y-%m-%d")`
endsnippet
snippet ddate
	`strftime("%B %d, %Y")`
endsnippet
snippet time
	`strftime("%H:%M")`
endsnippet
snippet datetime
	`strftime("%Y-%m-%d %H:%M")`
endsnippet
snippet todo "todo"
//TODO: $1, made:`!p
import datetime
snip.rv = datetime.datetime.now()`.$0
endsnippet
