<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">


<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="applications" label="apps" execute="xdg_menu --format openbox3-pipe"/>
  <item label="_discord">
    <action name="Execute">
      <execute>discord</execute>
    </action>
  </item>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="--_reconfigure">
    <action name="Reconfigure"/>
  </item>
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
